<span class="search-click elem-toggle">{% include 'custom-icon-search' %}</span>
<form action="/search" method="get" class="form-search-header" role="search">
  <input class="search-input"
         type="search"
         name="q"
         placeholder="{{ 'general.search.placeholder' | t }}"
         aria-label="{{ 'general.search.placeholder' | t }}">
  <button class="search-button-submit" type="submit">
      {% include 'custom-icon-search' %}
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>

</form>
