{% if section.settings.image %}
<div id="section-background-collection-page">
    <div class="container">
        <h3> {{ section.settings.text-box }} </h3>
        <a href="{{ section.settings.link }}" class="btn btn--cta">{{ section.settings.linktext }}</a>
    </div>
    <img id="bgImage" src="{{ section.settings.bgImage | img_url: 'large' }}">
</div>
{% endif %}>
{% schema %}
{
    "name": "Background Image",
    "settings": [
{
    "id": "text-box",
    "type": "text",
    "label": "Heading",
    "default": "Title"
},
{
    "id": "link",
    "type": "url",
    "label": "Button link"
},
{
    "id": "linktext",
    "type": "text",
    "label": "Button text",
    "default": "Click here"
},
{
    "type": "image_picker",
    "id": "bgImage",
    "label": "Collection Background Image"
}
    ],
    "presets": [
{
    "name": "Background Image",
    "category": "CTA button"
}
    ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}